<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Linguine app</title>
</head>
<body>
<h1>
    Linguine app
</h1>
<p>Type a word below and I will tell you if it is English or Italian.</font></p>

<form method="POST">
    <input name="text">
    <input type="submit">
</form>

{% if prediction %}
  <p>The word "{{ input }}" looks like {{ prediction }}. <br>(score: {{ score }})</p>
{% else %}
  <p> </p>
{% endif %}

</body>
</html>